.productsSection {
    margin-top: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-size: 1.7rem;
}

.addBtn,
.image button,
.updateBtn,
.btnConfirmDelete,
.btnCancelDelete {
    width: 200px;
    border-radius: 5px;
    padding: 8px 14px;
    background-color: #000;
    color: white;
    border: transparent;
    cursor: pointer;
    margin-top: 25px;
}

.addBtn {
    margin: 15px 0;
}

.addBtn i {
    font-size: 1rem;
    padding-left: 5px;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 1096px;
    overflow: hidden;
}

th {
    padding: 10px;
    background-color: #000;
    border: 1px solid black;
    color: #fff;
}

td {
    padding: 0 10px;
    border: 1px solid black;
}

table img {
    height: 80px;
}

table td i {
    margin: 10px;
}

.options button {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

.options button:hover {
    border: 2px solid #207da7;
}

.editBtn {
    margin-right: 8px;
    color: #207da7;
}

.deleteBtn {
    color: #b92b27;
}

.modalEdit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editProduct {
    position: relative;
    width: 60%;
    height: 60%;
    min-width: 900px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-rows: 0.2fr 3.7fr 0.2fr;
}

.editionTitle {
    font-size: 1.5rem;
    grid-column: span 2;
    text-align: center;
    padding-top: 15px;
    height: 100%;
}

.image {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.imageProd {
    height: 70%;
    overflow: hidden;
    display: flex;

}

.imageProd img {
    height: 95%;
}

.information {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information label {
    background-color: darkgray;
    width: 180px;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
}

.information input,
.information textarea{
    height: 35px;
    width: 400px;
    border-radius: 5px;
    padding: 2px 8px;
    border: 3px solid #00000060;
    outline: none;
}

.information input:focus,
.information textarea:focus {
    border: 3px solid #000;
}

.information textarea {
    height: 100px;
}

.informacion textarea:focus {
    border: 3px solid #207da7;
}

.button {
    text-align: center;
    grid-column: span 2;
    margin-bottom: 15px;
}

.addBtn:hover,
.image button:hover,
.updateBtn:hover,
.btnCancelDelete:hover {
    background-color: #166184;
    transition: .6s;
}

.modalClose {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.btnClose {
    margin: 5px 10px;
    font-size: 2.2rem;
    color: #b92b27;
    cursor: pointer;
}

.btnClose:hover {
    color: #831511;
}

.deleteProduct {
    min-width: 450px;
    height: 200px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
}

.deleteMsg {
    padding: 16px;
    color: black;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btnConfirmDelete {
    background-color: #b92b27;
}

.btnConfirmDelete:hover {
    background-color: #831511;
    transition: .5s;
}

.addProduct {
    position: relative;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-rows: 0.2fr 3.7fr 0.2fr;
}

.addInformation label{
    background-color: #207da7;
    display: flex;
    width: 180px;
    height: 35px;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.addInformation input {
    height: 35px;
    width: 350px;
    border-radius: 10px;
    padding-left: 5px;
    border: 3px solid #207da770;
    outline: none;
}

.addInformation input:focus {
    border: 3px solid #207da7;
}

.addInformation textarea {
    width: 350px;
    border-radius: 10px;
    border: 3px solid #207da770;
    height: 100px;
    outline: none;
}

.addInformation textarea:focus {
    border: 3px solid #207da7;
}

.dataForm {
    width: 80%;
    margin: 5px;
    display: flex;
}