/* Estilos Nabvar */

* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkOption {
    width: 160px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.linkOption:hover {
    background-color: rgb(92, 179, 255);
}

aside.logo {
    width: 200px;
}